* {
  box-sizing: border-box;
}

[data-theme='claro'] {
  --bg-color: #e7e5d6;
  --texto: #352d29;
  --text-color: #352d29;
  --primary-color: #a4bfbd;
  --secondary-color: #db765f;
  --accent-color: #ecb35b;
  --contrast: #ffffff;
}

[data-theme='oscuro'] {
  --bg-color: #5b4d46;
  --texto: #e7e5d6;
  --text-color: #000000;
  --primary-color: #a4bfbd;
  --secondary-color: #db765f;
  --accent-color: #ecb35b;
  --contrast: #242424;
}

body {
  background-color: var(--bg-color);

  padding: 10px 80px;
  text-align: center;

  font-family: 'Stack Sans Headline';
  font-weight: bolder;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 15%;
}

a {
  color: var(--text-color);
}

a,
button {
  transition: transform 0.3s;
}

a:hover,
button:hover {
  transform: scale(1.2);
}

h1,
h2 {
  font-family: 'Poppins';
}


#navegacion {
  position: sticky;
  top: 10px;
  display: flex;
  align-items: stretch;
  gap: 10px;
  align-items: center;

  background-color: var(--contrast);
  border: 1px solid var(--text-color);
  border-radius: 100px;
  padding: 10px 20px;

  box-shadow: 10px 10px 0 0 var(--text-color);

  a,
  button {
    color: var(--contrast);
    text-decoration: none;
  }

  a:hover,
  button:hover {
    color: var(--texto);
  }

  button {
    border: 1px solid var(--texto);
    height: 100%;
    font-size: 1.5em;
    padding: 0.8%;
    border-radius: 100px;
    align-items: center;
    background-color: var(--secondary-color);
  }

  div {
    border: 1px solid var(--text-color);
  }

  nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;

    a {
      border: 1px solid var(--texto);
      font-size: 1.5em;
      font-weight: normal;
      padding: 0.8% 1%;
      border-radius: 100px;
      background-color: var(--secondary-color);
    }
  }
}

#cabecera {
  margin: 3%;
  display: flex;
  align-items: stretch;
  background-color: var(--primary-color);
  border: 1px solid var(--text-color);
  border-radius: 50px;
  box-shadow: 10px 10px 0 0 var(--text-color);

  #cabeceraInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
    border-radius: 10px;
    padding: 30px;

    div {
      display: flex;
      gap: 5%;
      align-items: center;
      justify-content: center;
    }

    #hola {
      margin-top: 3%;

      img {
        width: 5%;
      }

      h1 {
        font-size: 4vw;
        margin: 0;
      }
    }

    h2 {
      font-size: 1.5vw;
    }

    p {
      font-size: 1.2vw;
      font-weight: lighter;
      padding: 0 10%;
      margin: 0;
      text-align: justify;
    }

    #botones {
      margin-top: auto;
      display: flex;
      gap: 5%;
      align-items: center;
      justify-content: center;

      a {
        text-decoration: none;
        font-size: 1.2vw;
        font-weight: lighter;
        padding: 0 10%;
        margin: 0;
        text-align: justify;
      }

      p,
      a {
        border: 1px solid var(--text-color);
        padding: 0.8% 5%;
        border-radius: 100px;
        background-color: var(--accent-color);
      }

      a:hover {
        transform: scale(1.2);
      }
    }
  }

  #foto {
    border: 1px solid var(--text-color);
    border-radius: 30px;
    margin: 30px;
    width: 30%;
    height: 30%;
    align-self: center;
  }
}

#tecn {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;

  background-color: var(--contrast);
  border: 1px solid var(--text-color);
  border-radius: 100px;
  padding: 10px 20px;

  box-shadow: 10px 10px 0 0 var(--text-color);

  i {
    font-size: 3vw;
    color: var(--texto);
  }
}

#experiencia {
  margin-top: 5%;

  #tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    div {
      width: 45%;
    }
  }

  div {
    margin-top: 2%;
  }

  h1 {
    display: flex;
    gap: 5%;
    align-items: center;
    justify-content: center;
    font-size: 4vw;
    margin: 0;

    img {
      width: 3%;
    }
  }

  hr {
    border-bottom: var(--text-color);
  }

  legend {
    color: var(--texto);
    background-color: var(--contrast);
    border: 1px solid var(--text-color);
    padding: 0 2%;
    border-radius: 100px;
    box-shadow: 10px 10px 0 0 var(--text-color);
  }

  fieldset {
    background-color: var(--accent-color);
    border-radius: 20px;
    border: 1px solid var(--text-color);
    box-shadow: 10px 10px 0 0 var(--text-color);

    li {
      padding: 1%;
      list-style-type: none;
    }
  }
}

#proyectos {
  margin-top: 5%;

  h1 {
    display: flex;
    gap: 5%;
    align-items: center;
    justify-content: center;
    font-size: 4vw;
    margin: 0;

    img {
      width: 3%;
    }
  }

  hr {
    border-bottom: var(--text-color);
  }


  #tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    a {
      background-color: var(--accent-color);
      border: 1px solid var(--text-color);
      padding: 5px 20px;
      border-radius: 100px;
      box-shadow: 10px 10px 0 0 var(--text-color);
      text-decoration: none;
      display: flex;
      flex-wrap: wrap;
      transition: transform 0.3s;
      margin: 2% 3%;
    }

    a:hover {
      transform: scale(1.2);
    }
  }
}

#educacion {
  margin-top: 5%;

  #tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    div {
      width: 45%;
    }
  }

  div {
    margin-top: 2%;
  }

  h1 {
    display: flex;
    gap: 5%;
    align-items: center;
    justify-content: center;
    font-size: 4vw;
    margin: 0;

    img {
      width: 3%;
    }
  }

  hr {
    border-bottom: var(--text-color);
  }

  legend {
    color: var(--texto);
    background-color: var(--contrast);
    border: 1px solid var(--text-color);
    padding: 0 2%;
    border-radius: 100px;
    box-shadow: 10px 10px 0 0 var(--text-color);
  }

  fieldset {
    background-color: var(--primary-color);
    border-radius: 20px;
    border: 1px solid var(--text-color);
    box-shadow: 10px 10px 0 0 var(--text-color);

    li {
      padding: 1%;
      list-style-type: none;
    }

    p {
      text-decoration: underline;
      color: #e7e5d6;
    }
  }
}

#cursos {
  margin-top: 5%;

  h1 {
    display: flex;
    gap: 5%;
    align-items: center;
    justify-content: center;
    font-size: 4vw;
    margin: 0;

    img {
      width: 3%;
    }
  }

  hr {
    border-bottom: var(--text-color);
  }


  #tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    a {
      background-color: var(--accent-color);
      border: 1px solid var(--text-color);
      padding: 5px 20px;
      border-radius: 100px;
      box-shadow: 10px 10px 0 0 var(--text-color);
      text-decoration: none;
      display: flex;
      flex-wrap: wrap;
      transition: transform 0.3s;
      margin: 2% 3%;
    }

    a:hover {
      transform: scale(1.2);
    }
  }
}

#intereses {
  margin-top: 5%;

  h1 {
    display: flex;
    gap: 5%;
    align-items: center;
    justify-content: center;
    font-size: 4vw;
    margin: 0;

    img {
      width: 3%;
    }
  }

  hr {
    border-bottom: var(--text-color);
  }


  #tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
    li {
      background-color: var(--accent-color);
      border: 1px solid var(--text-color);
      padding: 5px 20px;
      border-radius: 100px;
      box-shadow: 10px 10px 0 0 var(--text-color);
      text-decoration: none;
      list-style: none;
      flex-wrap: wrap;
      margin: 3% 0;
    }
  }
}

#despedida {
  margin-top: 5%;
  background-color: var(--primary-color);
  border-radius: 20px;
  border: 1px solid var(--text-color);
  box-shadow: 10px 10px 0 0 var(--text-color);
  padding: 8% 0;

  h1 {
    display: flex;
    gap: 5%;
    align-items: center;
    justify-content: center;
    font-size: 4vw;
    margin: 0;


    img {
      width: 3%;
    }
  }

  #botones {
    margin-top: auto;
    display: flex;
    gap: 5%;
    align-items: center;
    justify-content: center;
    color: var(--text-color);

    a {
      text-decoration: none;

      font-weight: lighter;
      padding: 0 10%;
      margin: 0;
      text-align: justify;
    }

    p,
    a {
      margin:3%;
      margin-bottom: 0;
      border: 1px solid var(--text-color);
      padding: 0.8% 5%;
      font-size: 1.2vw;
      border-radius: 100px;
      background-color: var(--accent-color);
    }

    a:hover {
      transform: scale(1.2);
    }
  }
}

@media (max-width:576px) {
  body {
    margin-right: 6px;
    padding: 5px 7px;
  }

  #navegacion {
    gap: 1%;
    width: 100%;
    font-size: 2vw;
    padding: 5px 10px;
    box-shadow: 5px 5px 0 0 var(--text-color);

    nav {
      gap: 0;
      justify-content: space-around;

      a {
        font-size: 3vw;
        padding: 5px;
      }
    }
  }

  #cabecera {
    flex-direction: column;
    box-shadow: 5px 5px 0 0 var(--text-color);

    #foto {
      order: 1;
      width: 80%;
      margin-top: 10%;
      margin-bottom: 0;
    }

    #cabeceraInfo {
      order: 2;
      padding: 0 5px;
      margin-top: 0;

      #hola h1 {
        font-size: 10vw;
      }

      h2 {
        font-size: 4vw;
      }

      p {
        font-size: 3.5vw;
      }

      #botones {
        padding: 5% 0;

        a {
          font-size: 4vw;
        }
      }
    }
  }

  #tecn {
    box-shadow: 5px 5px 0 0 var(--text-color);
    margin-top: 20px;
    flex-wrap: wrap;
    gap: 2%;
    row-gap: 10px;

    i {
      font-size: 10vw;
    }
  }

  #experiencia {
    #tarjetas {
      flex-direction: column;

      div {
        width: 100%;
        margin-bottom: 10px;
      }
    }

    h1 {
      font-size: 10vw;

      img {
        width: 5%;
      }
    }

    fieldset {
      h3 {
        font-size: 4vw;
      }

      box-shadow: 5px 5px 0 0 var(--text-color);

      ul {
        padding: 0;
        font-size: 3vw;
      }
    }

    legend {
      box-shadow: 5px 5px 0 0 var(--text-color);
    }
  }

  #educacion {
    h1 {
      font-size: 10vw;

      img {
        width: 5%;
      }
    }

    #tarjetas {
      flex-direction: column;

      div {
        width: 100%;
        margin-bottom: 10px;
      }
    }

    fieldset {
      h3 {
        font-size: 4vw;
      }

      box-shadow: 5px 5px 0 0 var(--text-color);

      ul {
        padding: 0;
        font-size: 3vw;
      }
    }

    legend {
      box-shadow: 5px 5px 0 0 var(--text-color);
    }
  }

  #cursos {
    margin-bottom: 30px;

    h1 {
      font-size: 10vw;

      img {
        width: 5%;
      }
    }

    #tarjetas {
      flex-wrap: wrap;

      a {
        box-shadow: 5px 5px 0 0 var(--text-color);

      }
    }
  }

  #intereses {
    margin-bottom: 30px;

    h1 {
      font-size: 10vw;

      img {
        width: 5%;
      }
    }

    #tarjetas {
      flex-wrap: wrap;
      align-items: center;
      ul{
        padding: 0;
      }

      li {
        box-shadow: 5px 5px 0 0 var(--text-color);

      }
    }
  }

  #despedida {
    padding: 3%;
    box-shadow: 5px 5px 0 0 var(--text-color);


    h1 {
      font-size: 4vw;
      gap: 2%;

      img {
        width: 5%;
      }
    }

    #botones {
      padding: 5% 0;
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        font-size: 4vw;
        margin: 0;
      }

      p {
        font-size: 4vw;
        margin: 0;
      }
    }
  }
}